
<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <title>IdentityRoles</title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css"
    integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
  <link rel="stylesheet" href="~/css/styles.css">
</head>

<body>
  <div class="container">
    <div class="jumbotron">
      <h1 id="jumbotron">IdentityRoles</h1>
    </div>
  @RenderBody()
@* vvvvv Insert Divs creating FileName.cshtml in Shared folder with <div></div> vvvvv *@
  @* @await Html.PartialAsync("FileName") *@

  @* Insert photo using ===>  src='~/img/FileName.jpg' *@
  </div>
</body>

</html>